<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitudes</title>
  <link rel="stylesheet" href="/css/solicitudesStyle.css">

</head>

<body>
  <%- include('../navbar', LoginData) %>
  <div class="row">
    <div class="img_sh_title">
      <hr class="hr_left">
      <label>COMISIONES PARA TI</label>
      <hr class="hr_right">
    </div>
    <div class="inner__comms">
      <% if (ReqCommList.Comms_To) { %>

      <% } else { %>
      <h3>NO TIENES COMISIÓNES PENDIENTES</h3>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="img_sh_title">
      <hr class="hr_left">
      <label>TUS PEDIDOS DE COMISION</label>
      <hr class="hr_right">
    </div>
    <div class="outer__comms">
      <% if (ReqCommList.Comms_From) { %>

      <% } else { %>
      <h3>NO HAS REALIZADO PEDIDOS DE COMISIÓN</h3>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="img_sh_title">
      <hr class="hr_left">
      <label>REQUESTS PARA TI</label>
      <hr class="hr_right">
    </div>
    <div class="inner_reqs">
      <% if (ReqCommList.Req_To) { %>

      <% } else { %>
      <h3>NO TIENES REQUESTS PENDIENTES</h3>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="img_sh_title">
      <hr class="hr_left">
      <label>TUS PEDIDOS DE REQUEST</label>
      <hr class="hr_right">
    </div>
    <div class="outer_reqs">
      <% if (ReqCommList.Req_From) { %>

      <% } else { %>
      <h3>NO HAS REALIZADO NINGUN REQUEST</h3>
      <% } %>
    </div>
  </div>

  <!-- Card Section -->

  <section class="section">
    <div class="container">
      
      <form action="">
        <div class="card" style="border:1px solid red;">
          <div class="card-content" style="border:1px solid blue;">
            <div class="media">
              <div class="media-left">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border:1px solid green;">
                <div class="media-content" style="border:1px solid purple;">
                  <p class="title is-4">Athour Name</p>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
    
            <div class="content">
              <textarea style="resize: none;" name="name" rows="8" cols="80">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris.</textarea>
              <br>
              <strong>$<input type="text" name="price" value="15.00" readonly></strong>
            </div>
    
            <footer class="card-footer">
          <button  hidden class="butttons"  type="button"><a href="#" >✓</a></button>
          <input class="butttons" type="submit" name="veificado" value="✓">
          <button class="butttons" type="button"><a href="#" style="  text-decoration:none;">X</a></button>
        </footer>
          </div>
        </div>
      </form>

    </div>
  </section>

</body>

</html>