body {
  min-width: 1300px;
  background: rgb(31, 32, 39) !important;
  color: white !important;
  font-family: "Comfortaa", sans-serif;
}


section.awSlider .carousel {
  display: table;
  z-index: 2;
  -moz-box-shadow: 0 0 4px #444;
  -webkit-box-shadow: 0 0 4px #444;
  box-shadow: 0 0 15px rgba(1, 1, 1, .5);
}

.carousel-indicators li {
  background-color: #000000;
}

.carousel-indicators .active {
  background-color: #00ffff;
}

.carousel .item img {
  min-height: 800px;
  max-height: 800px;
  min-width: auto;
}
/* .container{
  background: #1d1e20;
  z-index: 3;
} */
section.awSlider {
  margin: 10px auto;
  padding: 30px;
  position: relative;
  display: table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover>img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.0);
  opacity: 1; 
  /* width: 100%;
  opacity: 1; 
  height: 100%;   */
}

section.awSlider img {
  pointer-events: none;
}

section.awSlider>img {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 1;
  transition: all .3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw);
  -o-filter: blur(2vw);
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  height: 101%;
  width: 101%;
  opacity: .3;
}



/* TITLES */
.img_sh_title {
  /* background-color: rgb(37, 46, 66); */
  padding: 15px 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.img_sh_title label {
  background-color: rgb(166, 190, 255);
  padding: 10px;
  color: black;
}

.hr_left {
  width: 40%;
  height: 5px;
  background-image: linear-gradient(-90deg, rgb(166, 190, 255), transparent);
  border: 0;
  height: 2px;
  color: transparent !important;
}

.hr_right {
  width: 40%;
  height: 5px;
  background-image: linear-gradient(90deg, rgb(166, 190, 255), transparent);
  border: 0;
  height: 2px;
  color: transparent !important;
}

/* ETIQUETAS */
.tag__container {
  display: flex;
  justify-content:left;
  align-items: flex-start;
}
.il_tag{
  margin-right: 10px;
  border: 2px solid rgb(51, 87, 163);
  background:rgb(27, 46, 87);
  border-radius: 2px;
}
.il_tag p{
  font-size: 14px;
  padding: 5px 10px;
}


/* Modal Image */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  max-width: 75%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
animation-name: zoom-out;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}
/* End Modal Image */


i.fa {
  font-size: 50px;
cursor: pointer;
user-select: none;
}

.fa:hover {
color: rgb(255, 0, 0);
}