body {
    background-color: #1f2027;
    color: white;
    font-family: "Comfortaa", sans-serif;
}

.container {
    background-color: #000000;
    color: white;
    border-bottom: 5px solid turquoise;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

input,
textarea {
    color: white !important;
    padding: 7px;
    border-radius: 2px;
    background-color: #464646 !important;
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgb(56, 126, 255) !important;
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
    border-bottom: 2px solid turquoise !important;
}

.profile_img {
    border-radius: 90%;
    height: 250px;
    width: 250px;
}

.select-countries {
    color: white;
    padding: 7px;
    border-radius: 2px;
    background-color: rgb(62, 62, 62);
}

.submit_button {

    width: 150px;
    background-color: rgb(88, 176, 167) !important;
    margin: auto;

}

.img_sh_title {
    /* background-color: rgb(37, 46, 66); */
    padding: 15px 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.img_sh_title label {
    background-color: rgb(166, 190, 255);
    padding: 10px;
    color: black;
}

.hr_left {
    width: 40%;
    height: 5px;
    background-image: linear-gradient(-90deg, rgb(166, 190, 255), transparent);
    border: 0;
    height: 2px;
    color: transparent !important;
}

.hr_right {
    width: 40%;
    height: 5px;
    background-image: linear-gradient(90deg, rgb(166, 190, 255), transparent);
    border: 0;
    height: 2px;
}