@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500');

body {
    margin: 0px;
    font-family: "Comfortaa", sans-serif !important;
    min-width: 1300px;
    background: rgb(31, 32, 39);
    color: white;
}



.main__head {
    display: flex;
    align-items: center;
}

.main__head i {
    margin: 5px;
    font-size: 5vmin;
}

.main__head p {
    font-size: 1.5em;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 180px;
    white-space: nowrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preview-images>img {
    box-shadow: 1px 1px 10px #999;
    max-height: 200px;
    cursor: pointer;
    display: inline-block;
    display: inline;
    /* For IE7*/
    zoom: 1;
    /* For IE7*/
    vertical-align: top;
}

#wrapper {
    width: 100%;
    height: 30px;
}
.tags-input {
    list-style: none;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    height: 26px;
    font-size: 14px;
    background: #f3f3f3;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.tags-input li {
    float: left;
}

.tags {
    background: #28343d;
    padding: 5px 20px 5px 8px;
    border-radius: 2px;
    margin-right: 5px;
    position: relative;
}

.tags i {
    right: 6px;
    top: 3px;
    width: 8px;
    height: 8px;
    content: '';
    cursor: pointer;
    opacity: .7;
    font-size: 12px;
}

.tags i:hover {
    opacity: 1;
}

.tags-new input[type="text"] {
    border: 0;
    margin: 0;
    padding: 0 0 0 3px;
    font-size: 14px;
    margin-top: 5px;
    background: transparent;
}

.tags-new input[type="text"]:focus {
    outline: none;
}



/* OPCION DESPLEGABLE DEL RADIO */
.content {
    display: none;
}

.contenido-peticion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 5px;
    min-height: 500px;
    background-color: black;
    border-radius: 5px;
}

.comm-card {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(27, 29, 41);
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.comm-card img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.comm-card-content {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.comm-card-content label {
    font-size: 1em;
}

.comm-card-content p {
    margin: 0px;
}

/* RADIO DE PETICION O COMISION COMO DIV */
.radio-group {
    position: relative;
}

.radio {
    cursor: pointer;
}

.radio.selected {
    border: 2px solid turquoise;
    background-color: rgb(19, 93, 122);
}