@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500');

body {
    margin: 0px;
    font-family: "Comfortaa", sans-serif !important;
    min-width: 1300px;
    background: rgb(31, 32, 39);
    color: white;
}

.main__head {
    display: flex;
    align-items: center;
}

.main__head i {
    margin: 5px;
    font-size: 5vmin;
}

.main__head p {
    font-size: 1.5em;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 180px;
    white-space: nowrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preview-images>img {
    box-shadow: 1px 1px 10px #999;
    max-height: 200px;
    cursor: pointer;
    display: inline-block;
    display: inline;
    /* For IE7*/
    zoom: 1;
    /* For IE7*/
    vertical-align: top;
}

span:not(.tags) {
    background-color: rgba(255, 255, 255, .1);
    padding: .3rem 1rem;
    border-radius: 50vw;
    margin: .3rem;
    font-size: 1rem;
    display: inline-block;
    cursor: url(cursor.png), auto;
}

/* input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: .3rem 0;
    margin-top: 1rem;
} */

.focused {
    border-color: rgb(0, 0, 150);
    box-shadow: 0 0 .3rem rgb(0, 0, 150);
}

.label {
    position: absolute;
    background-color: rgb(0, 0, 20);
    padding: 0 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 200ms ease-in-out top;
}

.focused .label {
    top: 0;
}

/* OPCION DESPLEGABLE DEL RADIO */
.content
{
    display: none;
}

.contenido-peticion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 5px;
    min-height: 500px;
    background-color: black;
    border-radius: 5px;
}
.comm-card{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color:rgb(27, 29, 41);
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}
.comm-card img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
.comm-card-content{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.comm-card-content label{
    font-size: 1em;
}
.comm-card-content p{
    margin: 0px;
}

/* RADIO DE PETICION O COMISION COMO DIV */
.radio-group{
    position: relative;
}

.radio{
    cursor:pointer;
}

.radio.selected{
    border: 2px solid turquoise;
    background-color: rgb(19, 93, 122);
}